/*Crumbs*/

.crumbs {
  max-width: 1200px;
  margin: auto;
}

.crumbs ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.crumbs li {
  display: inline-block;
  padding: 10px 8px;
  color: #828282;
}

/*Pagination*/

.pagination {
  padding: 30px 0;
}

.pagination ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination li {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.pagination li:hover a {
  font-weight: bold;
  color: #5044d5;
}

.pagination li.is-active {
  font-weight: bold;
  border-bottom: 3px solid #5044d5;
}

/*Gallery*/

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
}

.minicard-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  /*How do I add bottom row of 40px*/
}

/* Mini Card UI*/

.minicard {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 16px;
  max-width: 240px;
}

.minicard:hover {
  top: -2px;
  filter: contrast(100%);
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.minicard-image {
  margin-bottom: 8px;
  display: flex;
  overflow: hidden;
  position: relative;
}

.minicard p {
  font-size: 14px;
  color: black;
}

.minicard span {
  font-weight: 600;
  line-height: 24px;
}

.minicard a {
  text-decoration: none;
}

.minicard-description {
  padding: 16px;
}

/*Filter Settings*/

.filters {
  padding-right: 40px;
}

.filter-type {
  padding: 0px 16px 16px 0px;
}

.filter-type ul {
  list-style: none;
}

.filter-type li {
  color: #828282;
}

.color {
  display: flex;
  flex-direction: row;
}

.color img {
  padding: 4px;
}

/*Product Detail*/
.product-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.product-color {
  display: flex;
  flex-direction: column;
}

.product-color img {
  padding: 2px;
  height: 56px;
}

.product-description {
  padding: 40px 8px;
}

.product-price {
  font-weight: 600;
  font-size: 24px;
}

.product-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.spacing-8px {
  display: flex;
  margin: 0px 8px 8px 0px;
}

.product-quantity {
  display: flex;
  flex-direction: row;
}

.product-detail-color {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.details-block {
  max-width: 240px;
  padding-bottom: 16px;
}

.details-block span {
  font-weight: 600;
  line-height: 32px;
}

.additional-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
}

.qty-plus:hover,
.qty-minus:hover {
  background: #53b5aa;
  color: #fff;
  cursor: pointer;
}

/*Other*/

.options-image img {
  width: 224px;
}

.minicard-options {
  margin: 16px;
}

/* Fluff Me*/

.fluff-gradient {
  background: linear-gradient(-45deg, #beb9e4, #ffffff, #f3e8f2, #fafae9);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.fluff-frame {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.focuscard {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: white;
  border-radius: 4px;
  margin: 16px;
  filter: contrast(100%);
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.focuscard-image {
  margin: 16px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 280px;
}

.focuscard-content {
  display: flex;
  flex-direction: column;
  margin: 16px 32px;
  max-width: 400px;
}

.focuscard-content p {
  display: flex;
  margin: 0px 16px 16px 0px;
}

.focuscard-content form {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 32px;
  line-height: 40px;
}

input,
select {
  border-bottom: 2px solid #5044d5;
  border-top: white;
  border-left: white;
  border-right: white;
  box-sizing: border-box;
  padding: 4px 8px;
}

input,
select,
textarea {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #5044d5;
  font-weight: 600;
}
